# Ignore terraform files
*.tfstate
*.tfstate.*
.terraform/

# Ignore IDEs and editor files
.vscode/
.idea/

# Ignore Python environment files
venv/
*.pyc
*.pyo
*.pyd
__pycache__/

# Ignore temporary files
*.log
*.tmp
temp/

# Ignore zip and other binary files
*.zip
*.tar.gz
*.tar

# Ignore other system files
.DS_Store
Thumbs.db
package/.env:2